/*==============================================PAGE 1=================================================*/
@media screen and (max-width: 1250px) {
    .page-bg1{
        background: url(../images/page1-bg.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .page-bg2{
        background: url(../images/page2-bg.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .page-bg3{
        background: url(../images/page3-bg.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media screen and (max-width: 1035px) {
    body{
        min-width: 100%;
    }
    .wrap, .page-footer .page-wrap, .page-wrap{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        min-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1000px) {
    .page-content ul li .page-content-text {
        top: 0;
    }
    .page-content .page-input {
        margin: 0 3% 30px;
        float: left;
        width: 44%;
    }
    .page-submit {
        margin: 0 auto;
        display: block;
    }
    .page-key {
        padding-left: 0;
        text-align: center;
    }
    .footer-item {
        width: 32%;
    }
}

@media screen and (max-width: 930px) {
    .box-pic1, .box-pic2, .box-pic3, .box-pic4 {
        margin: 0 auto;
        display: block !important;
    }
    .page-content ul li .page-content-text {
        text-align: center;
        display: block !important;
    }
}

@media screen and (max-width: 800px) {
    br{
        display: none;
    }
    .font-23 {
        font-size: 20px;
    }
    .footer-logo {
        margin-left: 0;
        text-align: center;
    }
    .page-content-left {
        width: 100%;
        padding-left: 0;
    }
    .page-content-right {
        margin-top: 40px;
        width: 100%;
    }
    .page-content-right .container {
        margin: 0 auto;
    }
    .page-content ul li .page-content-text {
        position: static;
        margin-bottom: 20px;
    }
    .footer-item {
        width: 100%;
        margin-bottom: 14px;
    }
}

@media screen and (max-width: 550px) {
    .font-49 {
        font-size: 26px;
    }
    .font-23 {
        font-size: 16px;
    }
    .box-pic1, .box-pic2, .box-pic3, .box-pic4 {
        float: none;
        margin: 0 auto 10px;
    }
    .page-content ul li .page-content-text {
        top: 0;
        text-align: center;
        margin-bottom: 25px;
    }
    .page-input {
        margin: 0 0 30px;
        float: none;
        width: 100%;
    }
    .font-21 {
        font-size: 16px;
    }
    .page-submit {
        width: 100%;
    }
    .page-key img{
        margin-right: 5px;
    }

    body{
        min-width: 300px;
    }
}
/*==============================================PAGE 2=================================================*/

@media screen and (max-width: 1010px) {
    .page2-content-footer .box-pic1, .page2-content-footer .box-pic2, .page2-content-footer .box-pic3, .page2-content-footer .box-pic4 {
        margin: 0 auto;
        display: block !important;
    }

    .page2-content-footer .page-content-text{
        text-align: center;
        display: block !important;
        margin-top: 10px;
    }
    .page2-content .page-content-left, .page2-content .page-content-right {
        width: 100%;
        height: auto;
    }
    .page2-content .page-content-left{
        padding: 22px 40px 0;
    }
    .page2-content .page-input {
        margin: 0 3% 30px;
        width: 43%;
        display: inline-block;
    }
    .page2-content .page-key {
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .page-content-left iframe {
        height: 250px;
    }
    .page2-content .page-content-left {
        padding: 22px 0 0 0;
    }
    .page2-content-footer ul {
        margin: 39px 0 0 0;
    }
}

@media screen and (max-width: 550px) {
    .page2-content-footer ul li {
        width: 100%;
        padding-right: 0;
    }
}

@media screen and (max-width: 450px) {
    .page2-content .page-input {
        margin: 0 auto 25px;
        width: 100%;
    }
}

/*==============================================PAGE 3=================================================*/

@media screen and (max-width: 1000px) {
    .page3-content .page-key {
        padding-left: 20px;
        text-align: left;
    }
}

@media screen and (max-width: 895px) {
    .page3-content .page-content-left{
        width: 100%;
        margin: 0;
    }
    .page3-content .page-content-left .container {
        margin: 61px auto 0;
    }
    .page3-content .page-content-right {
        width: 100%;
    }
    .page3-content .page-key {
        padding-left: 0;
        text-align: center;
    }
}
