@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,cyrillic);
/*====================================================================================================================*/
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('../fonts/ProximaNovaBold.eot');
    src: url('../fonts/ProximaNovaBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNovaBold.woff') format('woff'),
    url('../fonts/ProximaNovaBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url('../fonts/ProximaNovaRegular.eot');
    src: url('../fonts/ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNovaRegular.woff') format('woff'),
    url('../fonts/ProximaNovaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaLight';
    src: url('../fonts/proximanova-light/ProximaNovaLight.eot');
    src: url('../fonts/proximanova-light/ProximaNovaLight.eot') format('embedded-opentype'),
    url('../fonts/proximanova-light/ProximaNovaLight.woff2') format('woff2'),
    url('../fonts/proximanova-light/ProximaNovaLight.woff') format('woff'),
    url('../fonts/proximanova-light/ProximaNovaLight.ttf') format('truetype'),
    url('../fonts/proximanova-light/ProximaNovaLight.svg#ProximaNovaLight') format('svg');
}
/*====================================================================================================================*/
.font1-b{
    font-family: 'proxima_nova_rgbold', sans-serif;
}
.font1-r{
    font-family: 'proxima_nova_cn_rgregular', sans-serif;
}
.font1-l{
    font-family: 'proxima_novalight', sans-serif;
}
/*====================================================================================================================*/
.marg-top-65{
    margin-top: 65px;
}
.pad-v50{
    padding: 50px 0;
}
.marg-bot-100{
    margin-bottom: 100px;
}
.marg-bot-90{
    margin-bottom: 90px;
}

/*====================================================================================================================*/
.color1{
    color: #231f20;
}
.color2{
    color: #576e80;
}
.color3{
    color: #414042;
}
.color4{
    color: #394854;
}


.bg1{
    background: #576e80;
}
/*====================================================================================================================*/
.w100p{
    width: 100%;
}
.line-30{
    line-height: 30px;
}
.line-20{
    line-height: 20px;
}
.line-22{
    line-height: 22px;
}
/*====================================================================================================================*/
body{
    font-size: 16px;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'proxima_nova_cn_rgregular', sans-serif;
    min-width: 1015px;
}
input:focus{
    outline: none;
}
.wrap{
    min-width: 1000px;
    width: 1000px;
    margin: 0 auto;
}
/*====================================================================================================================*/
.section-1{
    background: url(../images/bg1.jpg) no-repeat 50% 50%;
    padding: 30px 0;
}
.video-box{
    width: 860px;
    height: 480px;
    margin: 0 auto;
}
.video-box iframe{
    border: none;
    width: 100%;
    height: 100%;
}
.hr0{
    width: 490px;
    height: 2px;
    margin: 25px auto;
    background: #b0cfef;
    border: none;
}
.arr-bot{
    background: url(../images/arr-bot.png) 0 0 no-repeat;
    width: 42px;
    height: 42px;
    margin: 40px auto;
}
/*====================================================================================================================*/
.section-2{
    padding: 65px 0 0;
    background: white;
}
.section-2-item{

}
.form{
    width: 420px;
}
.input1{
    padding: 13px 20px;
    border: 1px solid #abb7c0;
    color: #a7a9ac;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 330px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.submit1{
    width: 330px;
    padding: 19px 0;
    text-align: center;
    font-size: 24px;
    color: white;
    font-family: 'proxima_nova_rgbold', sans-serif;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #35b88f;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid transparent;
}
.submit1:hover{
    background: rgb(61, 194, 156);
}
.submit1:active{
    background: none;
    border: 2px solid rgb(89, 115, 132);
    color: rgb(87, 110, 128);
}
.input-hidden{
    visibility: hidden;
}
.squaredFour {
    width: 15px;
    height: 15px;
    position: relative;
    display: inline-block;
    top: 2px;
}
.squaredFour label {
    cursor: pointer;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    border: 1px solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.squaredFour label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 5px;
    height: 4px;
    background: transparent;
    top: 3px;
    left: 4px;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.squaredFour label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.5;
}
.squaredFour input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
/*====================================================================================================================*/
.section-3{
    padding: 150px 0 85px;
    background: url(../images/bg5.jpg) no-repeat 50% 0, #35b88f;
    position: relative;
}
.section-3 .wrap{
    position: relative;
    z-index: 1;
}
.section-3-item{
    width: 270px;
    float: left;
    margin: 0 31px;
}
.ul-disc{
    list-style-type:disc;
}
.hr2{
    width: 100%;
    height: 1px;
    margin: 2px auto 0;
    background: #e6f6f1;
    border: none;
}
.hr3{
    width: 115px;
    margin: 0 auto;
    height: 1px;
    background: #b3e4d5;
    border: none;
}
/*====================================================================================================================*/
.section-4{
    padding: 90px 0;
    background: url(../images/bg2.jpg);
}
.section-4-item{
    width: 250px;
    float: left;
    margin: 0 41px;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 315px;
    -webkit-box-shadow: -3px 3px 5px 0 #ABABAB;
    box-shadow: -3px 3px 5px 0 #ABABAB;
    -webkit-border-radius: 0 32px 0 0;
    border-radius: 0 32px 0 0;
    position: relative;
}
.section-4-item:after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent #576e80;
}
/*====================================================================================================================*/
.section-5{
    padding: 90px 0;
    background: url(../images/bg3.jpg);
}
.section-5-item{
    width: 450px;
    float: left;
    margin: 0 25px;
}
.section-5-item-title{
    position: relative;
}
.section-5-item-title:before{
    content: "";
    position: absolute;
    left: 85px;
    top: 10px;
    width: 45px;
    height: 40px;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.section-5-item-title:after{
    content: "";
    position: absolute;
    right: 85px;
    top: 10px;
    width: 45px;
    height: 40px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.section-5-item-bottom1, .section-5-item-bottom2, .section-5-item-bottom3, .section-5-item-bottom4{
    width: 200px;
    float: left;
    margin: 15px 12px 0;
}
.section-5-item-bottom1, .section-5-item-bottom3{
    position: relative;
    left: -30px;
}
.section-5-item-bottom2, .section-5-item-bottom4{
    position: relative;
    right: -30px;
}

.section-5-item-title2{
    position: relative;
}
.section-5-item-title2:before{
    content: "";
    position: absolute;
    left: 82px;
    top: 10px;
    width: 22px;
    height: 180px;
    border-top: 1px solid white;
    border-left: 1px solid white;
}
.section-5-item-title2:after{
    content: "";
    position: absolute;
    right: 82px;
    top: 10px;
    width: 22px;
    height: 180px;
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.line-center, .line-center{
    position: relative;
    margin-top: 73px;
}
.line-center2{
    margin-top: 81px;
}
.line-center:after, .line-center2:after{
    content: "";
    width: 1px;
    height: 55px;
    position: absolute;
    top: -55px;
    left: 50%;
    background: white;
}
.line-center2:after{
    top: -65px;
}
/*====================================================================================================================*/
.section-6{
    padding: 80px 0 110px;
    background: url(../images/bg4.jpg);
}
.hr4{
    width: 350px;
    height: 2px;
    background: #576e80;
    border: none;
    float: left;
}
.bx-wrapper{
    width: 700px;
    margin: 90px auto 0 !important;
}
.slider-img{
    position: absolute;
    top: 14px;
    z-index: 1;
}
.slider-text{
    background: white;
    padding: 23px 40px 23px 100px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.38);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.38);
    margin: 0 5px 5px 67px;
    position: relative;
}
.slider-text-c1{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border-top: 3px solid #576e80;
    border-left: 3px solid #576e80;
}
.slider-text-c2{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border-top: 3px solid #576e80;
    border-right: 3px solid #576e80;
}
.slider-text-c3{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 22px;
    height: 22px;
    border-bottom: 3px solid #576e80;
    border-right: 3px solid #576e80;
}
.slider-text-c4{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 22px;
    height: 22px;
    border-bottom: 3px solid #576e80;
    border-left: 3px solid #576e80;
}
.bx-controls-direction{
    position: relative;
}
.bx-next{
    background: url(../images/arr-right.png) 0 0 no-repeat;
    width: 43px;
    height: 43px;
    position: absolute;
    right: -50px;
    top: -109px;
}
/*====================================================================================================================*/
.section-7{
    padding: 80px 0 170px;
    background: url(../images/bg6.jpg) 50% 100% no-repeat, url(../images/bg2.jpg);
}
.section-7-item{
    float: left;
    width: 380px;
    margin: 0 60px;
}
/*====================================================================================================================*/
.section-8{
    padding: 50px 0 100px;
}





/*=================================================PAGE1===============================================================*/
.page-bg1{
    padding-top: 52px;
    padding-bottom: 71px;
    background: url(../images/page1-bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer-logo{
    margin-left: 72px;
    margin-bottom: 51px;
}
.page-wrap{
    width: 980px;
    margin: 0 auto;
}
.footer-item{
    display: inline-block;
    width: 33%;
    text-align: center;
}
.page-content-right{

}
.page-content-left{
    width: 67%;
    display: inline-block;
    vertical-align: top;
    margin-top: 29px;
    padding-left: 57px;
    box-sizing: border-box;
}
.page-content-right{
    width: 32%;
    display: inline-block;
}
.page-input{
    width: 300px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    background: none;
    border: 2px solid white;
    margin-right: 16px;
    color: white;
    font-size: 21px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.page-submit{
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    width: 300px;
    height: 65px;
    font-size: 23px;
    background: #35B88F;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: middle;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,.6);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.6);
}

.page-submit:hover{
    background: #3DC29C;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0,0,0,.6);
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.6);
}
.page-submit:active{
    background: white;
    border: 1px solid #597384;
    color: #597384;
    box-shadow: none;
}

.box-pic1, .box-pic2, .box-pic3, .box-pic4{
    background: url(../images/page-img1.png) 16px center no-repeat, rgba(0,0,0, 0.5);
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 17px;
}
.box-pic2{
    background: url(../images/page-img2.png) center no-repeat, rgba(0,0,0, 0.5);
}
.box-pic3{
    background: url(../images/page-img3.png) center no-repeat, rgba(0,0,0, 0.5);
}
.box-pic4{
    background: url(../images/page-img4.png) center no-repeat, rgba(0,0,0, 0.5);
}
.page-content ul li{
    overflow: hidden;
    margin-bottom: 5px;
}
.page-content ul li .page-content-text{


}
.page-footer{
    padding: 20px 0;
    background: #d1d2d3;
}
.page-footer .page-wrap{
    width: 1015px;
}
.page-content-footer{
    padding-top: 46px;
}
.page-key{
    padding-left: 120px;
    padding-top: 16px;
}
/*=================================================PAGE2===============================================================*/
.page-bg2{
    padding-top: 52px;
    padding-bottom: 10px;
    background: url(../images/page2-bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page-content-left iframe{
    border: none;
    width: 100%;
    height: 353px;
    border: 1px solid white;
}
.page2-content-footer ul{
    margin: 39px 0 0 27px;
}
.page2-content-footer ul li{
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 37px 0;
    box-sizing: border-box;
    padding-right: 31px;
}
.page2-content .page-content-right{
    background: none;
    width: 34%;
}
.page2-content .page-content-left{
    width: 65%;
    padding: 22px 40px 0 22px;
    margin: 0;
}
.page2-content .page-input,
.page3-content .page-input {
    margin: 0 auto 24px;
    display: block;
}
.page2-content .page-submit,
.page3-content .page-submit{
    margin: 0 auto 16px;
    display: block;
}

.page2-content .page-key{
    padding-left: 0;
    padding-top: 0;
}
/*=================================================PAGE3===============================================================*/
.page-bg3{
    padding-top: 52px;
    padding-bottom: 10px;
    background: url(../images/page3-bg.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.page3-content{
    margin-bottom: 140px;
}
.page3-content .page-content-right{
    background: none;
    width: 34%;
    margin-top: 55px;
}
.page3-content .page-content-left{
    width: 41%;
    padding: 0;
    margin: 61px 0 0 99px;

}
.page3-content .page-key {
    padding-left: 48px;
    padding-top: 0;
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.60);
}